.popup__close-button {
    width: 26px;
    background-color: transparent;
    border: none;
    height: 27px;
    position: absolute;
    top: -26px;
    right: -26px;
    background-image:url('../../../images/close.svg');
    cursor: pointer;
}