.user-info__button_type_add-card {
    width: 150px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    top: 16px;
    right: 0;
  }
  
  @media screen and (max-width: 980px) {
    .user-info__button_type_add-card {
      position: static;
      margin-bottom: 40px;
    }
  }
  